body {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
}

.border {
    border: 2px solid black;
    border-radius: 50px 50px 50px 50px;
}

.nav-bar-left {
    position: fixed;
}